<div class="container">
  <form class="form-ingredient-edit" action="">
    <div class="row">
      <mat-form-field class="col-md-6 field-ingredient-name">
        <mat-label>Ingredient Name</mat-label>
        <input matInput class="w-100" [value]="ingredient.name || ''">
      </mat-form-field>

      <mat-form-field class="col-md-6 field-ingredient-quantity">
        <mat-label>Ingredient Quantity</mat-label>
        <input matInput class="w-100" [value]="ingredient.quantity || 0">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="button-group d-flex justify-content-between">
          <button type="button" class="col-md-3 btn btn-success">
            Update Ingredient <span class="trash"></span>
          </button>
          <button type="button" class="col-md-3 btn btn-primary">
            Reset Ingredient <span class="trash"></span>
          </button>
          <button type="button" class="col-md-3 btn btn-danger">
            Delete Ingredient <span class="trash"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>