.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  .navbar-brand img {
    margin: 0 16px 0 0;
  }

  #twitter-logo {
    height: 40px;
    margin: 0 8px;
    padding-top: 8px;
  }

  #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  #twitter-logo:hover,
  #youtube-logo:hover {
    opacity: 0.8;
  }
}