<div class="page-container">
  <h3>Shopping List</h3>
  <ng-container *ngIf="viewMode === 0">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary btn-block">Add Ingredient</button>
        <hr>
        <ng-container *ngFor="let ingredient of ingredients">
          <div class="border media position-relative p-4">
            <!-- <img class="mr-2" [src]="ingredient.iconSrc" alt="Card image cap"> -->
            <div class="media-body p-2">
              <h3 class="m-0">{{ ingredient.name }} <span class="">({{ ingredient.quantity }})</span></h3>
              <!-- <small class="text-muted">Added on {{ new Intl.DateTimeFormat(ingredient.dateCreated) }}</small> -->
              <small class="text-muted">Added on {{ ingredient.dateCreated }}</small>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-9">
        <app-shopping-list-edit [ingredient]="ingredients[0]"></app-shopping-list-edit>
      </div>
    </div>
  </ng-container>
</div>
