.content {
  margin: 32px auto 32px;
  padding: 0 16px;
  // display: flex;
  // max-width: 960px;
  // flex-direction: column;
  // align-items: center;
  .notification-wrapper {
    position: fixed;
    z-index: 10;
    right: 10px;
    bottom: 12px;
  }
}
