<div class="container">
  <ng-container *ngIf="recipe?.id; else noSelectedRecipe">
    <div class="row">
      <div class="col-md-12"><img [src]="recipe.headerSrc" alt="" class="img-fluid"></div>
    </div>
    <div class="row">
      <div class="col-md-10">Recipe: {{ recipe.name }}</div>
      <div class="col-md-2">
        <div class="button-group text-right">
          <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" appDropdown
            (toggled)="toggleClassOn($event, actionMenuRef, toggleClass)"
            aria-expanded="false">
            Manage <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" #actionMenuToggle>
            <li class="dropdown-item"><a>Add Ingredients to List</a></li>
            <li class="dropdown-item"><a>Edit Recipe</a></li>
            <li class="dropdown-item"><a>Delete Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">Total Time: 15 minutes</div>
    </div>
    <div class="row">
      <div class="col-md-12">Description: <span [appHighlightColor]="'yellow'">{{ recipe.description }}</span></div>
    </div>
    <div class="row">
      <div class="col-md-12">Ingredients: {{ recipe.description }}</div>
    </div>
  </ng-container>

  <ng-template #noSelectedRecipe>
    <p>No Recipe Selected</p>
  </ng-template>
</div>
