<div class="border media position-relative p-4">
  <!-- <img class="mr-2" [src]="ingredient.iconSrc" alt="Card image cap"> -->
  <div class="media-body p-2">
    <h3 class="m-0">{{ ingredient.name }} <span class="">({{ ingredient.quantity }})</span></h3>
    <!-- <small class="text-muted">Added on {{ new Intl.DateTimeFormat(ingredient.dateCreated) }}</small> -->
    <small class="text-muted">Added {{ ingredient.dateCreated }}</small>
    <a class="stretched-link" (click)="onIngredientSelected()"></a>
  </div>
</div>
